/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Open+Sans:400,300,700|Raleway:300,400");
$navbar-font: 'Raleway', "sans-serif";


// Local fonts (uncomment following lines)
@font-face {
  font-weight: normal;
  font-family: "Gotham";
  src: font-url('GothamSSm-Book.eot');
  src: font-url('GothamSSm-Book.eot?#iefix') format('embedded-opentype'),
       font-url('GothamSSm-Book.woff') format('woff'),
       font-url('GothamSSm-Book.ttf') format('truetype')
}
@font-face {
  font-weight: 100;
  font-family: "Gotham";
  src: font-url('gotham-light.eot');
  src: font-url('gotham-light.eot?#iefix') format('embedded-opentype'),
       font-url('gotham-light.woff') format('woff'),
       font-url('gotham-light.ttf') format('truetype')
}

$gotham: "Gotham", "PT Sans", "sans-serif";

$header-font: $gotham;
$base-font: $gotham, "Open Sans", "Helvetica", "sans-serif";


// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$purple: #6452BD;
$pink: #FF387B;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
