Salut <%= @user.first_name %>

<p>
 Votre proposition a bien été envoyée. Nous reviendrons vers vous lorsque l'utilisateur aura fait son offre</p>


<p>
  Excellente journée
</p>


<p>
  L'équipe de QstomR
</p>