Salut <%= @user.first_name %>

<p>
  Une proposition vous a été envoyée
</p>

<p>
  vous pouvez vous rendre sur votre compte pour accepter ou décliner la proposition
</p>

<p>
  Excellente journée
</p>


<p>
  L'équipe de QstomR
</p>


