Salut <%= @user.first_name %>

<p>
  Vous avez bien crée votre tâche. Nous vous invitons à consulter votre profil régulièrement afin de voir si des utilisateurs ont répondu à votre demande.
</p>


<p>
  Excellente journée
</p>


<p>
  L'équipe de QstomR
</p>