
<p>
 Salut <%= @user.first_name %>
</p>


<p>Nous vous confirmons la création de votre compte sur QstomR</p>


<p>Toute l'équipe de QstomR se tient à votre disposition</p>


<p>Excellente journée</p>

<p>L'équipe de QstomR</p>