 #tab-grey-card {
  background-color: #F6F6F6;
  border-radius: 5px;
  margin-top: 50px;
  padding-bottom: 100px;
}

.tab-content {
  h3 {
    text-align: center;
  }

}

.tasks-list {
  li {
    list-style: none;
  }
}

