<div>
  <%= form_tag(tasks_path, method: :get, class: "form-inline text-center") do %>
    <div class="form-group">
      <%= text_field_tag(:city, params[:city], placeholder: "Where?", class: "form-control") %>
    </div>
      <%= link_to("find !", tasks_path, class: "btn btn-default btn-xs btn-right")%>
  <% end %>
</div>
