// Your footer style
#footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  .social a {
  color: white;
  font-size: 40px;
  margin: 10px;
  }
  .social a:hover {
  color: #FF387B;
  }
}
